

$font-family: 'Oxygen', sans-serif;
body {
  font-family: $font-family;
}

$white: #fff;
$light-grey: #c3c3c3;
$black: #000;
$nav-background: $light-grey;
$nav-font-color: $white;
$link-hover-color: $black;

ul {
  list-style: none;
  li {
    padding: 15px;
    a {
      text-decoration: none;
      font-size: 14px;
      color: $white;
    }
  }
}

$width: 800px;
.container {
  width: $width; }
  .column-half {
    width: $width / 2; }
    .column-forth {
      width: $width / 4; }

// declare mixin(now being passed an argument)
@mixin box-sizing($boxSize) {
  -webkit-box-sizing: $boxSize;
  -moz-box-sizing: $boxSize; }

// use mixin
.mySelector {
  @include box-sizing(border-box);
}
